/* Modern reset: https://piccalil.li/blog/a-more-modern-css-reset/ */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin-block-end: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

button,
h1,
h2,
h3,
h4,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* manrope-500 - latin */

@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */

@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary: hsl(217, 19%, 35%);
  --color-base: #425161;
}

/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

body {
  display: grid;
  place-content: center;
  background-color: var(--color-base-light, hsl(210, 46%, 95%));
  font-size: var(
    --fontSize-step-0,
    clamp(1rem, 0.8958rem + 0.2604vw, 1.0625rem)
  );
  line-height: 1;
  color: var(--color-base, hsl(214, 17%, 51%));
  line-height: var(--lineHeight-standart, 1.5);
  font-family: var(--fontFamily-base, Manrope, Roboto, Arial, sans-serif);
}

.article__footer--share {
  z-index: 11;
  margin-top: var(--spacing-m, clamp(1.125rem, 0.7083rem + 1.0417vw, 1.375rem));
  margin-bottom: var(
    --spacing-m,
    clamp(1.125rem, 0.7083rem + 1.0417vw, 1.375rem)
  );
  margin-left: auto;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  border-style: none;
  background-color: var(--color-base-light, hsl(210, 46%, 95%));
  padding: 0.75rem;
  color: var(--color-primary, hsl(217, 19%, 35%));
  --un-drop-shadow: drop-shadow(
      0 1px 2px var(--un-drop-shadow-color, rgb(0 0 0 / 0.1))
    )
    drop-shadow(0 1px 1px var(--un-drop-shadow-color, rgb(0 0 0 / 0.06)));
  filter: var(--un-blur) var(--un-brightness) var(--un-contrast)
    var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate)
    var(--un-invert) var(--un-saturate) var(--un-sepia);
}

.article__footer--share:hover {
  background-color: var(--color-primary, hsl(217, 19%, 35%));
  color: var(--color-accent, #fff);
}

.article__footer--share:focus {
  outline-color: var(--color-primary, hsl(217, 19%, 35%));
}

.article__footer--share[aria-expanded="true"] {
  background-color: var(--color-base, hsl(214, 17%, 51%));
  color: var(--color-accent, #fff);
}

h2 {
  text-wrap: wrap;
  font-size: var(
    --fontSize-step-2,
    clamp(1.1385rem, 0.7948rem + 0.8593vw, 1.3447rem)
  );
  line-height: 1;
  color: var(--color-primary, hsl(217, 19%, 35%));
  line-height: var(--lineHeight-standart, 1.5);
}

h3 {
  margin-top: 0;
  font-size: var(
    --fontSize-step-1,
    clamp(1.067rem, 0.8531rem + 0.5346vw, 1.1953rem)
  );
  line-height: 1;
}

@layer components {
  .article {
    display: grid;
    border-radius: 1rem;
    background-color: var(--color-accent, #fff);
    --un-shadow-color: var(--color-primary, hsl(217, 19%, 35%));
    --un-shadow: var(--un-shadow-inset) 0 10px 15px -3px
      var(--un-shadow-color, rgb(0 0 0 / 0.1)), var(--un-shadow-inset) 0 4px 6px
      -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
      var(--un-shadow);
    box-shadow: .5rem .5rem 1rem -.5rem rgba(0, 0, 0, 0.5);
  }
  @media (min-width: 640px) {
    .article {
      grid-template-columns: 1fr 1.6fr;
    }
  }

  .article__cover {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
  }
  @media (min-width: 640px) {
    .article__cover {
      border-radius: 0;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }

  .article__header {
    align-self: center;
    padding-left: var(
      --spacing-m,
      clamp(1.125rem, 0.7083rem + 1.0417vw, 1.375rem)
    );
    padding-right: var(
      --spacing-m,
      clamp(1.125rem, 0.7083rem + 1.0417vw, 1.375rem)
    );
  }

  .article__author {
    color: var(--color-primary, hsl(217, 19%, 35%));
  }

  .article__footer {
    position: relative;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: var(
      --spacing-m,
      clamp(1.125rem, 0.7083rem + 1.0417vw, 1.375rem)
    );
    padding-right: var(
      --spacing-m,
      clamp(1.125rem, 0.7083rem + 1.0417vw, 1.375rem)
    );
  }
}

@layer components {
  .attribution {
    text-align: center;
    text-wrap: balance;
    color: var(--color-base, hsl(214, 17%, 51%));
  }

  .attribution__link {
    color: var(--color-base, hsl(214, 17%, 51%));
  }
  .attribution__link:focus {
    padding: 0.25rem;
    color: var(--color-primary, hsl(217, 19%, 35%));
    text-decoration: none;
    outline-color: var(--color-primary, hsl(217, 19%, 35%));
  }
  .attribution__link:hover {
    color: var(--color-primary, hsl(217, 19%, 35%));
    text-decoration: none;
  }
}

@layer components {
  .dialog__share {
    position: relative;
    margin-right: 0;
    height: 100%;
    border-style: none;
    color: var(--color-primary, hsl(217, 19%, 35%));
  }

  .dialog__share-js {
    width: 100%;
    height: 100%;
    border-color: var(--color-primary, hsl(217, 19%, 35%));
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--color-primary, hsl(217, 19%, 35%));
    color: var(--color-accent, #fff);
  }

  .dialog__share--wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
  }

  .dialog__share--menu {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
  }

  .dialog__share--menu a {
    padding: 0.375rem;
  }
  .dialog__share--menu a:hover {
    border-bottom-width: 2px;
    border-color: var(--color-base, hsl(214, 17%, 51%));
    border-bottom-style: solid;
  }
  .dialog__share--menu a:focus {
    outline-color: var(--color-primary, hsl(217, 19%, 35%));
  }

  .dialog__share-js .dialog__share--menu a {
    padding: 0.375rem;
  }
  .dialog__share-js .dialog__share--menu a:hover {
    border-bottom-width: 2px;
    border-color: var(--color-accent, #fff);
    border-bottom-style: solid;
  }
  .dialog__share-js .dialog__share--menu a:focus {
    outline-color: var(--color-accent, #fff);
  }

  @media (min-width: 640px) {
    .dialog__share-js {
      top: -5.5em;
      left: auto;
      right: -3.3em;
      width: 15rem;
      height: 5em;

      --b: 2em;
      --h: 1em;
      --p: 58%;
      --r: 1rem;
      --c: var(--color-primary);

      border-radius: var(--r);
      background: var(--c);
      clip-path: polygon(
        0 100%,
        0 0,
        100% 0,
        100% 100%,
        min(100%, var(--p) + var(--b) / 2) 100%,
        var(--p) calc(100% + var(--h)),
        max(0%, var(--p) - var(--b) / 2) 100%
      );
      border-image: conic-gradient(var(--c) 0 0) fill 0 / var(--r)
        calc(100% - var(--p) - var(--b) / 2) 0 calc(var(--p) - var(--b) / 2) / 0
        0 var(--h) 0;
    }
  }
}

@layer components {
  .prose {
    --flow-space: var(--space-m);
  }
}

@layer components {
  /* 
FLOW COMPOSITION 
Like the Every Layout stack: https://every-layout.dev/layouts/stack/
Info about this implementation: https://piccalil.li/quick-tip/flow-utility/ 
*/
  .flow > * + * {
    margin-top: var(--flow-space, 1em);
  }
}

/* layer: default */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.ml-4 {
  margin-left: 1rem;
}

.block {
  display: block;
}

.w-full {
  width: 100%;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.rounded-full {
  border-radius: 9999px;
}

.px-3xs {
  padding-left: var(
    --spacing-3xs,
    clamp(0.3125rem, 0.2083rem + 0.2604vw, 0.375rem)
  );
  padding-right: var(
    --spacing-3xs,
    clamp(0.3125rem, 0.2083rem + 0.2604vw, 0.375rem)
  );
}

@media (min-width: 640px) {
  .sm\:px-xl {
    padding-left: var(
      --spacing-xl,
      clamp(3.375rem, 2.125rem + 3.125vw, 4.125rem)
    );
    padding-right: var(
      --spacing-xl,
      clamp(3.375rem, 2.125rem + 3.125vw, 4.125rem)
    );
  }
}
