{% extends "layouts/base.njk" %}
{% block content %}
  <div class="article">
    
    <img alt="{{ coverImgAlt }}" src="{{ coverImg }}" class="article__cover"/>

    <div class="article__content flow">      
      <div class="article__header">
        <h2>{{ title }}</h2>        
        <p>{{ summary }}</p>
      </div>
      <div class="article__footer" id="articleFooter">
        {% include "partials/author.njk" %}
        {% include "partials/dialog-share.njk" %}
        <!-- Button is inserted here -->
      </div>          
    </div>
          
  </div>

{% endblock %}
