{% extends "layouts/base.njk" %}
{% block content %}
  <div class="article">
    <img alt="{{ coverImgAlt }}" src="{{ coverImg }}" />
    <h2>{{ title }}</h2>
    <p>{{ summary }}</p>

    <img alt="" src="{{ avatar }}" width="50" height="50" />
    <h3>{{ author }}</h3>
    <time datetime={{published}}>{{ publishedFormated }}</time>


    <!--
         show/hide with js on button click,
         on load js change aria-expanded to false
         and hide block
    -->
    <div class="article__share" id="articleShare">
      <p id="share">SHARE</p>

      <ul role="menu" aria-labelledby="share" id="social-share">
        <li role="none">
          <a role="menuitem" href="#fb">
            <img alt="facebook" src="./images/icon-facebook.svg" />
          </a>
        </li>

        <li role="none">
          <a role="menuitem" href="#twitter">
            <img alt="twitter" src="./images/icon-twitter.svg" />
          </a>
        </li>

        <li role="none">
          <a role="menuitem" href="#pinterest">
            <img alt="pinterest" src="./images/icon-pinterest.svg" />
          </a>
        </li>
      </ul>
      <!--
         show/hide with js on button click,
         on load js change aria-expanded to false
         and hide block
    -->
    </div>
  </div>
{% endblock %}
