{% extends "layouts/base.njk" %}
{% block content %}
  <div class="article">
    
    <img alt="{{ coverImgAlt }}" src="{{ coverImg }}" class="article__cover" width="660" height="528"/>

    <div class="article__content flow">
      <div class="article__header wrapper">
        <h2>{{ title }}</h2>
        <p>{{ summary }}</p>
      </div>
    
      <div class="article__footer wrapper" id="articleFooter">
        {% include "partials/author.njk" %}
        {% include "partials/article-share.njk" %}
      </div>
    </div>    
  </div>

{% endblock %}
