.article {
  @apply grid rounded-2xl bg-accent shadow-primary shadow-lg;
}

.article__cover {
  @apply rounded-t-2xl h-full;
}

.article__header{
  @apply  self-center px-m;
}

.article svg {
  color: var(--color-accent);
}

.article__share {
  @apply absolute z-[10] border-primary w-full bg-primary h-full items-center color-accent rounded-b-2xl;
}

.article__share--menu {
  @apply inline-flex flex-wrap gap-2xs list-none pl-m;
}

.article__footer {
  @apply inline-flex px-m justify-between items-center w-full relative flex-wrap;
}

@screen sm {
  .article__cover {
    @apply rounded-none rounded-l-2xl;
  }

  .article__share {
    top: -4em;
    left: auto;
    right: -3.3em;
    width: 12.5rem;
    height: 3em;

    /* Tooltip */
    --b: 2em; /* base */
    --h: 1em; /* height */
    --p: 50%; /* position */
    --r: 1rem; /* the radius */
    --c: var(--color-primary);

    border-radius: var(--r);
    background: var(--c);
    clip-path: polygon(
      0 100%,
      0 0,
      100% 0,
      100% 100%,
      min(100%, var(--p) + var(--b) / 2) 100%,
      var(--p) calc(100% + var(--h)),
      max(0%, var(--p) - var(--b) / 2) 100%
    );
    border-image: conic-gradient(var(--c) 0 0) fill 0 / var(--r)
      calc(100% - var(--p) - var(--b) / 2) 0 calc(var(--p) - var(--b) / 2) / 0 0
      var(--h) 0;
  }

  .article {
    grid-template-columns: 1fr 1.6fr;
  }
}
