.article {
  /* Article css code */
}

.article__footer{
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

#social-share{
  gap: var(--space-xs);
  align-items: center;
  list-style: none;
}

#social-share > li{

}


