/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  display: grid;
  place-content: center;
  background-color: var(--color-background);
  color: var(--color-base);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
}

.article__footer--share {
  margin-left: auto;
  border: none;
  padding: .6rem;
  background-color: var(--color-background);
  border-radius: 50%;
  margin-block: var(--space-3xs);
  z-index: 11;
  box-shadow: .5rem .5rem 1rem -.5rem rgba(0, 0, 0, 0.5);
  &:focus-visible {
    outline: 2px solid var(--color-primary);
  }
}

h2,
h3 {
  color: var(--color-primary);
}
