<img
  alt=""
  src="{{ avatar }}"
  width="50"
  height="50"
  class="testimonial__author--img"
/>
<div class="testimonial__author--data">
  <h3>{{ author }}</h3>
  <time datetime="{{ published }}">{{ publishedFormated }}</time>
</div>
