<img
  alt=""
  src="{{ avatar }}"
  width="50"
  height="50"
  class="rounded-full"
/>
<div class="ml-4">
  <h3 class="article__author">{{ author }}</h3>
  <time datetime="{{ published }}">{{ publishedFormated }}</time>
</div>
